:root {
    --el-color-primary: #FE913F;
}
.el-checkbox {
    --el-checkbox-checked-text-color: #FE913F;
    align-items: start;
}
.el-checkbox__label {
    white-space: break-spaces;
    line-height: 16px;
}
.el-dialog {
    --el-dialog-border-radius: 24px!important;
}
.el-overlay.overlay-white {
    background-color: #FCFCFD80;
    backdrop-filter: blur(16px);
}
.el-dialog__header {
    display: none;
}
.c-modal-fullscreen .el-dialog {
    background: transparent;
}
.el-select__wrapper, .el-select__wrapper.is-focused {
    flex: 1;
    box-shadow: none!important;
}
.c-select .el-select__placeholder, .c-select .el-select__caret {
    color: black;
}
.c-select-popper .el-select-dropdown__item.is-selected {
    color: black;
}
.c-select-popper.el-popper {
    border-radius: 12px;
}
.c-select-popper.el-select-dropdown {
    border-radius: 12px;
}
.c-popper.el-popper, .c-popper.el-popover {
    background: transparent!important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.c-popper.el-popover .el-popper__arrow {
    display: none!important;
}
.c-gradient-progress .el-progress-bar__outer {
    background-color: #DCDCDC;
}
.c-gradient-progress-orange .el-progress-bar__inner {
    background: linear-gradient(213.44deg, #FCA454 -14.77%, #FF7A00 116.22%);
}
.c-gradient-progress-green .el-progress-bar__inner {
    background: #34C759;
}
.c-radio .el-radio__input.is-checked .el-radio__inner {
    background: linear-gradient(213.44deg, #FCA454 -14.77%, #FF7A00 116.22%);
    border: none;
}
.c-radio .el-radio__input.is-checked+.el-radio__label {
    color: black;
}

.c-arrow-popper.el-popper {
    stroke: #ffffff;
    background: #ffffff;
    border-radius: 30px;
    border: none;
    width: auto!important;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.12);
}
.c-arrow-popper.rounded-sm.el-popover {
    padding: 0;
    border-radius: 4px;
}
.c-arrow-popper.el-popper .el-popper__arrow::before {
    background: #ffffff ;
    border: none;
}
