.el-dialog {
    --el-dialog-border-radius: 24px!important;
}

.el-overlay.overlay-white {
    background-color: #FCFCFD80;
}
.el-dialog__header {
    display: none;
}

.el-select__wrapper, .el-select__wrapper.is-focused {
    flex: 1;
    box-shadow: none!important;
}
.c-select .el-select__placeholder, .c-select .el-select__caret {
    color: black;
}
.c-select-popper .el-select-dropdown__item.is-selected {
    color: black;
}
.c-select-popper.el-popper {
    border-radius: 12px;
}
.c-select-popper.el-select-dropdown {
    border-radius: 12px;
}
.c-popper.el-popper, .c-popper.el-popover {
    background: transparent!important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.c-popper.el-popover .el-popper__arrow {
    display: none!important;
}
.c-gradient-progress .el-progress-bar__outer {
    background-color: #DCDCDC;
}
.c-gradient-progress-purple .el-progress-bar__inner {
    background: linear-gradient(213.44deg, #FEB14C -14.77%, #FE2C1A 116.22%);
}
